<p>Country List by Continent</p>

<div class="country-list-container">
  <input type="text" [(ngModel)]="countryName" placeholder="Enter country name" />
  <select [(ngModel)]="selectedContinent">
    <option value="" disabled selected>Select a continent</option>
    <option *ngFor="let continent of continents" [value]="continent">{{ continent }}</option>
  </select>
  <button class="btn btn-primary" (click)="addCountry()">Add Country</button>

  <div *ngFor="let continent of continents">
    <h3>{{ continent }}</h3>
    <ul>
      <li *ngFor="let country of countryList[continent]">
        {{ country }}
      </li>
    </ul>
  </div>
</div>

