<h2>Music Playlist</h2>


<input type="text" [(ngModel)]="newTrack.title" placeholder="Song Title" />
<input type="text" [(ngModel)]="newTrack.artist" placeholder="Artist" />
<input type="text" [(ngModel)]="newTrack.album" placeholder="Album" />
<input type="text" [(ngModel)]="newTrack.duration" placeholder="Duration (mm:ss)" />

<button (click)="addTrack()">Add Track</button>

<ul>
  <li *ngFor="let track of playlist">
    {{ track.title }} by {{ track.artist }} (Album: {{ track.album }}, Duration: {{ track.duration }})
    <button (click)="removeTrack(track.id)">Remove</button>
  </li>
</ul>

<button (click)="clearPlaylist()">Clear All Tracks</button>


