<nav>
    <a class="styled-link" routerLink="">Student List</a>
    <a class="styled-link" routerLink="employee-list">Employee List</a>
    <a class="styled-link" routerLink="fruit-list">Fruit List</a>
    <a class="styled-link" routerLink="course-list">Course List</a>
    <a class="styled-link" routerLink="book-list">Book List</a>
    <a class="styled-link" routerLink="city-list">City List</a>
    <a class="styled-link" routerLink="movie-list">Movie List</a>
    <a class="styled-link" routerLink="car-model-list">Car Model List</a>
    <a class="styled-link" routerLink="product-list">Product List</a>
    <a class="styled-link" routerLink="subject-list">Subject List</a>
    <a class="styled-link" routerLink="country-list">Country List</a>
    <a class="styled-link" routerLink="sports-list">Sports List</a>
    <a class="styled-link" routerLink="vegetable-list">Vegetable List</a>
    <a class="styled-link" routerLink="animal-list">Animal List</a>
    <a class="styled-link" routerLink="tool-list">Tool List</a>
    <a class="styled-link" routerLink="language-list">Programming Language List</a>
    <a class="styled-link" routerLink="video-game-list">Video Game List</a>
    <a class="styled-link" routerLink="software-list">Installed Software List</a>
    <a class="styled-link" routerLink="phone-contact-list">Phone Contact List</a>
    <a class="styled-link" routerLink="music-playlist">Music Playlist</a>
    <a class="styled-link" routerLink="food-menu">Food Menu</a>
    <a class="styled-link" routerLink="grocery-list">Grocery List</a>
    <a class="styled-link" routerLink="classroom-list">Classroom List</a>
    <a class="styled-link" routerLink="inventory-list">Inventory List</a>
    <a class="styled-link" routerLink="lecture-list">Lecture List</a>
    <a class="styled-link" routerLink="stationery-list">Stationery List</a>
    <a class="styled-link" routerLink="flower-list">Flower List</a>
    <a class="styled-link" routerLink="destination-list">Destination List</a>
    <a class="styled-link" routerLink="laptop-list">Laptop List</a>
    <a class="styled-link" routerLink="laptop-specifications-list">Laptop Specifications List</a>
    <a class="styled-link" routerLink="computer-hardware-list">Computer Hardware List</a>
    <a class="styled-link" routerLink="mobile-app-list">Mobile App List</a>
    <a class="styled-link" routerLink="video-list">Video List</a>
    <a class="styled-link" routerLink="tv-show-list">TV Show List</a>
    <a class="styled-link" routerLink="furniture-list">Furniture List</a>
    <a class="styled-link" routerLink="accessory-list">Accessory List</a>
    <a class="styled-link" routerLink="building-list">Building List</a>
    <a class="styled-link" routerLink="painting-list">Famous Paintings List</a>
    <a class="styled-link" routerLink="artist-list">Famous Artists List</a>
    <a class="styled-link" routerLink="composer-list">Famous Composers List</a>
    <a class="styled-link" routerLink="podcast-list">Podcast List</a>
    <a class="styled-link" routerLink="exercise-list">Workout Routine</a>
    <a class="styled-link" routerLink="meal-plan-list">Weekly Meal Plan</a>
    <a class="styled-link" routerLink="budget-list">Budget List</a>
    <a class="styled-link" routerLink="presentation-list">Presentation Topics List</a>
    <a class="styled-link" routerLink="tour-list">Band Tour Dates</a>
    <a class="styled-link" routerLink="event-list">Upcoming Events</a>
    <a class="styled-link" routerLink="developer-tools-list">Developer Tools List</a>
    <a class="styled-link" routerLink="framework-list">Framework List</a>
    <a class="styled-link" routerLink="library-list">Library List</a>

    </nav>
    <router-outlet></router-outlet>