<h2>Book List</h2>

<input type="text" [(ngModel)]="newBook.title" placeholder="Book Title" />
<input type="text" [(ngModel)]="newBook.author" placeholder="Author" />
<input type="text" [(ngModel)]="newBook.genre" placeholder="Genre" />
<input type="number" [(ngModel)]="newBook.year" placeholder="Publication Year" />

<button (click)="addBook()">Add Book</button>
<button (click)="clearBooks()">Clear All Books</button>

<ul>
  <li *ngFor="let book of bookList">
    {{ book.title }} by {{ book.author }} (Genre: {{ book.genre }}, Year: {{ book.year }})
    <button (click)="removeBook(book.id)">Remove</button>
  </li>
</ul>



