<h2>Movie List</h2>

<input type="text" [(ngModel)]="newMovie.title" placeholder="Movie Title" />
<input type="text" [(ngModel)]="newMovie.director" placeholder="Director" />
<input type="number" [(ngModel)]="newMovie.releaseYear" placeholder="Release Year" />
<input type="text" [(ngModel)]="newMovie.genre" placeholder="Genre" />

<button (click)="addMovie()">Add Movie</button>
<button (click)="clearMovies()">Clear All Movies</button>

<ul>
  <li *ngFor="let movie of movieList">
    {{ movie.title }} (Directed by: {{ movie.director }}, Released: {{ movie.releaseYear }}, Genre: {{ movie.genre }})
    <button (click)="removeMovie(movie.id)">Remove</button>
  </li>
</ul>

