<h2>Accessory List</h2>

<input type="text" [(ngModel)]="newAccessory.name" placeholder="Name" />
<input type="text" [(ngModel)]="newAccessory.category" placeholder="Category" />
<input type="text" [(ngModel)]="newAccessory.brand" placeholder="Brand" />
<input type="number" [(ngModel)]="newAccessory.price" placeholder="Price" />

<button (click)="addAccessory()">Add Accessory</button>

<ul>
  <li *ngFor="let accessory of accessoryList">
    {{ accessory.name }} - {{ accessory.category }} (Brand: {{ accessory.brand }}, Price: Php{{ accessory.price }})
    <button (click)="removeAccessory(accessory.id)">Remove</button>
  </li>
</ul>

<button (click)="clearAccessories()">Clear All Accessories</button>

